#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  margin: 0;
  background: url('https://png.pngtree.com/thumb_back/fh260/background/20201012/pngtree-white-cloud-on-blue-sky-weather-background-image_410050.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 2.0;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}

.title {
  margin-bottom: 20px;
}

.searchBox {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #3730a3;
}

.weatherBox {
  margin-top: 20px;
  background: #f5f7ff;
  padding: 15px;
  border-radius: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}
